* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(246, 246, 246);
}

.header {
  position: relative;
  background-color: rgb(3, 52, 45);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 60px;
}

.title {
  color: rgb(221, 221, 221);
  font-size: 30px;
  padding-left: 30px;
}

.container-cartTitle {
  position: relative;
  display: flex;
  align-items: center;
  background-color: rgb(10, 118, 79);
  width: 30%;
  height: 100%;
  margin-left: 30px;
  transition: all 0.5s;
}

.container-cartTitle span {
  z-index: 1;
}

.container-cartTitle:after {
  content: '';
  position: absolute;
  top: 15px;
  right: 61.5%;
  width: 39.5%;
  height: 15px;
  background: rgb(10, 118, 79);
  transform: skew(-45deg);
  z-index: 0;
}

.container-cartTitle:before {
  content: '';
  position: absolute;
  top: 30px;
  right: 61.5%;
  width: 39.5%;
  height: 15px;
  background: rgb(10, 118, 79);
  transform: skew(45deg);
  z-index: 0;
}

.container-cartTitle .cart__title {
  color: white;
  font-size: 20px;
  padding-left: 35px;
  font-weight: 700;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.title strong {
  color: white;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 0;
}

.item {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 5px;
  width: 250px;
  border: 2px solid rgb(234, 234, 233);
  border-radius: 5px;
  box-sizing: border-box;
  background-color: white;
}

.thumb {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.item .item__sku {
  display: none;
}

.item .item__title {
  display: flex;
  align-items: center;
  font-size: 15px;
  flex-grow: 1;
  padding: 10px;
  text-align: start;
}

.item .item__price {
  display: flex;
  align-items: flex-start;
  font-size: 23px;
  font-weight: 400;
  flex-grow: 1;
  text-align: center;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 10px;
}

.item .item__image {
  max-width: 230px;
  max-height: 280px;
}

.item .item__add {
  background-color: rgb(5, 52, 219);
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 10px;
  color: white;
}

.cart {
  position: absolute;
  display: flex;
  width: 25%;
  right: 0;
  flex-flow: column wrap;
  background-color: rgb(241, 241, 238);
  height: 0;
  align-self: right;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

.cart.active {
  opacity: 1;
  height: 600px;
}

.cart .cart__items {
  height: 500px;
  overflow-y: scroll;
}

.cart__item {
  padding: 30px;
}

.empty-cart {
  width: 170px;
  height: 35px;
  border: 2px solid rgb(5, 52, 219);
  background-color: rgb(249, 249, 246);
}

#cart-btn {
  cursor: pointer;
  user-select: none;
}

.cart-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 1;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: rgb(10, 118, 79);
}

.input-group {
  width: 30%;
}

.btn-secondary {
  background-color: rgb(10, 118, 79);
}

.btn-secondary:hover {
  background-color: rgb(9, 102, 68);
}

.btn-secondary:focus {
  background-color: rgb(10, 118, 79);
}

.count-cart {
  color: white;
  position: absolute;
  background-color: rgb(10, 118, 79);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  margin-left: -15px;
  margin-top: -5px;
  border: 3px solid rgb(3, 52, 45);
}

.count-cart[ type = 'text' ] {
  margin-top: 50%;
}
